.header-background {
  background-color: #636eb0;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  
}

.body-background {
  box-sizing: border-box;
  background-color: #d2d8f7;
  margin: 25px 15px;
  padding: 25px 15px;
}

.text-centered {
  text-align: center;
}

.text-right {
  text-align: right;
}

.wrapper {
  width: 300px;
  margin: auto;
}

h2 {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  text-decoration: underline wavy #636eb0 2.5px;
}

h3 {
  color: #636eb0;
  font-family: 'Times New Roman', Times, serif;
}

p {
  color: black;
  line-height: 20px;
}

.text-dec {
  text-decoration: none;
}

img {
  border-radius: 50%;
}