/*header info for all pages*/
.header-background {
  background-color: #636eb0;
  color: white;
  font-family: 'Garamond', Times, serif;
  line-height: 1.3;
  margin: 10px 150px 10px 150px;
  padding: 25px 100px 15px 100px;
}
/*header font size for my home page*/
.header-font {
  font-size: 50px;
  font-weight: bold;
}

/*set sizing for main block on all pages*/
.body-background {
  margin: 25px 150px 25px 150px;
  background-color: #d2d8f7;
  padding: 25px 15px;
}

.text-centered {
  text-align: center;
}

.text-right {
  text-align: right;
}

/*footer settings*/
.footer-set {
  text-align: left;
  font-style: oblique;
  margin: 25px;
}

.section-set {
  padding: 15px 5px;
  margin: 25px 150px 25px 150px;
  border-radius: 15%;
  background-color: white;
}

.nav-bar a {
  color: white;
}

/*When the link is previously clicked on it will be this color*/
a:visited {
  color:#050E99;
}

/*When mouse sits on link, it will show this color*/
a:hover {
  color:hotpink
}

h2 {
  color: white;
  font-family: 'Garamond', Times, serif;
  text-align: center;
  text-decoration: underline dotted #636eb0 2.5px;
}

h3 {
  color: #636eb0;
  font-family: 'Garamond', Times, serif;
  text-align: center;
}

/*fixed for main content*/
p {
  color: black;
  line-height: 20px;
  margin: 30px 240px 50px 240px;
  text-indent: 50px;
  text-align: center;
  letter-spacing: 1px;
  font-family: 'Times New Roman', Times, serif;
}

/*portfolio picture on home page*/
img {
  border-radius: 50%;
  border: 7px solid #636eb0;
}

/*about page unordered list styles*/
ul.a {
  list-style-type: circle;
  list-style-position: inside;
}

/*contact page ordered list style*/
ol.a {
  list-style-type: none;
  text-decoration: none;
}