.header-background {
  background-color: #636eb0;
  color: white;
  font-family: 'Garamond', Times, serif;
  line-height: 1.3;
  margin: 10px 150px 10px 150px;
  padding: 25px 100px 15px 100px;
}

.header-font {
  font-size: 50px;
  font-weight: bold;
}

.body-background {
  margin: 25px 150px 25px 150px;
  background-color: #d2d8f7;
  padding: 25px 15px;
}

.text-centered {
  text-align: center;
}

.text-right {
  text-align: right;
}

.footer-set {
  text-align: left;
  font-style: oblique;
  margin: 25px;
}

.section-set {
  padding: 15px 5px;
  margin: 25px 150px 25px 150px;
  border-radius: 15%;
  background-color: white;
}

h2 {
  color: white;
  font-family: 'Garamond', Times, serif;
  text-align: center;
  text-decoration: underline dotted #636eb0 2.5px;
}

h3 {
  color: #636eb0;
  font-family: 'Garamond', Times, serif;
  text-align: center;
}

p {
  color: black;
  line-height: 20px;
  margin: 30px 240px 50px 240px;
  text-indent: 50px;
  text-align: center;
  letter-spacing: 3px;
  font-family: 'Times New Roman', Times, serif;
}

img {
  border-radius: 50%;
  border: 7px solid #636eb0;
}

ul.a {
  list-style-type: circle;
  list-style-position: inside;
}

ol.a {
  list-style-type: none;
  text-decoration: none;
}